<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, interactive-widget=resizes-content" />

  <title>{{ .Title }}</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Stack+Sans+Text:wght@200..700&display=swap"
    rel="stylesheet">

  <style>
    *,
    ::after,
    ::before {
      box-sizing: border-box;
    }

    :focus:not(:focus-visible) {
      /* remove outline on mouse click, retains on keyboard focus */
      outline: 0;
    }

    html {
      -webkit-text-size-adjust: 100%;
      font-family: system-ui, sans-serif;
      height: 100%;
      line-height: 1.1875;
      /* In contrast to word-break, overflow-wrap will only create a break if */
      /* an entire word cannot be placed on its own line without overflowing. */
      overflow-wrap: anywhere;
      tab-size: 4;
      text-rendering: geometricPrecision;

      &:focus-within {
        scroll-behavior: smooth;
        scroll-padding-top: var(--spc-2);
      }
    }


    img,
    picture {
      display: block;
      max-width: 100%;
    }

    input,
    button,
    textarea,
    select {
      font: inherit;
      overflow-wrap: inherit;
      text-rendering: inherit;
    }

    blockquote,
    body,
    dd,
    dl,
    figure,
    h1,
    h2,
    h3,
    h4,
    ol,
    p,
    pre,
    samp,
    table ul {
      margin: 0;
    }

    b,
    strong {
      font-weight: bolder;
    }

    code,
    kbd,
    samp,
    pre {
      background: var(--clr-bg-2);
      border-radius: 0.125em;
      border: 1px solid var(--clr-border);
      font-family: "Noto Sans Mono", monospace;
      font-optical-sizing: auto;
      font-size: 0.9375rem;
      font-variation-settings: "wdth" 100;
      font-weight: 550;
      line-height: 1.4;
      padding: 0 0.3125em 0.0625em;

      /* FIXME: */
      /* The - character is considered as whitespace, which means code */
      /* elements wrap in unexpected places when they contain - character. */
      /* Tried white-space: nowrap; to avoid, but this removes ALL */
      /* white-space wrapping, which is also be undesirable. A solution */
      /* would require adding - character to the list of 'word' characters */
      /* (or removing it from the list of whitespace characters) when inside */
      /* a code element, but cannot currently find a way to do this. */
    }

    pre code {
      background: revert;
      border: none;
      padding: revert;
    }

    body {
      display: flex;
      flex-direction: column;
      min-height: 100%;
    }

    @media (prefers-reduced-motion: reduce) {
      html:focus-within {
        scroll-behavior: auto;
      }

      *,
      ::before,
      ::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        scroll-behavior: auto !important;
        transition-duration: 0.01ms !important;
      }
    }

    :root {
      --clr-bg-1: #fff;
      --clr-bg-2: #f5f5f5;
      --clr-border: #00000019;
      --clr-fg-1: #111;
      --clr-fg-2: #444444;
      --clr-fg-3: #767676;
      --clr-outline: #2b2bad;

      background: var(--clr-bg-1);
      color: var(--clr-fg-1);
      color-scheme: only light;
      font-family: "Stack Sans Text", sans-serif;
      font-optical-sizing: auto;
    }

    @media (prefers-color-scheme: dark) {
      :root {
        --clr-bg-1: #282828;
        --clr-bg-2: #323232;
        --clr-border: #ffffff19;
        --clr-fg-1: #f5f5f5;
        --clr-fg-2: #c2c2c2;
        --clr-fg-3: #8e8e8e;
        --clr-outline: #a6a6bf;

        color-scheme: only dark;
      }
    }

    :focus-visible {
      border-radius: 0.0625em;
      outline-offset: 2px;
      outline: var(--clr-outline) solid 3px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      line-height: 1.15;
      margin-block: 1.25em 0.625em;
    }

    a {
      text-decoration-thickness: 0.125em;
      text-underline-offset: 0.125em;
    }

    small {
      font-size: 0.8125rem;
      font-size: 0.75rem;
      font-weight: 500;
    }

    code {
      color: var(--clr-fg-1);
    }

    pre {
      border-block: 1px solid var(--clr-border);
      border-inline: revert;
      border-radius: revert;
      margin: 1.25rem -1.25rem;
      overflow-x: scroll;
      padding: 1.25rem;
    }

    @media screen and (min-width: 600px) {
      pre {
        border-radius: 0.125em;
        border: 1px solid var(--clr-border);
        margin-inline: initial;
      }
    }

    table {
      td {
        padding-inline-end: 0.625rem;
      }

      th {
        color: var(--clr-fg-1);
        padding-block-end: 0.625em;
        padding-inline-end: 0.625rem;
        text-align: start;
      }

      tr {
        vertical-align: top;
      }
    }

    dl {
      dt {
        color: var(--clr-fg-1);
        font-weight: bold;
        margin-block-end: 0.625em;
      }
    }


    .constrain {
      margin-inline: auto;
      max-width: 42.5rem;
      padding-inline: 1.25rem;
      width: 100%;
    }

    main {
      flex-grow: 1;
      margin-block: 2.5rem;

      p,
      dl,
      ol,
      table,
      ul {
        color: var(--clr-fg-2);
        font-size: 1.0625rem;
        line-height: 1.45;
        margin-block: 1.25em;
        text-wrap: pretty;
      }

      h1:first-of-type {
        margin-block-start: -0.2em;
      }

      ul {
        list-style-type: square;

        ul {
          margin-block: 0;
        }
      }

      li {
        margin-block: 0.3125rem;
      }

      li::marker {
        color: var(--clr-fg-3);
      }
    }

    @media screen and (min-width: 600px) {
      main {
        margin-block: 5rem;
      }
    }

    footer {
      padding-block: 1.25rem;

      small {
        color: var(--clr-fg-3);
      }

      a {
        color: inherit;
      }

      a:hover,
      a:focus-visible {
        color: revert;
      }
    }
  </style>
</head>

<body>
  <main class="constrain">
    {{ .Body }}
  </main>
  <footer class="constrain">
    <small>Preview built with
      <a href="https://github.com/simonward87/mdp">MDP</a> &copy; <span class="current-year">2024</span>. All
      rights reserved.</small>
  </footer>

  <script>
    function setFooterYear() {
      const year = document.querySelector("footer .current-year");
      if (!year) {
        console.warn("setFooterYear: Node 'footer .current-year' not found!");
        return;
      }
      year.textContent = new Date().getFullYear();
    }

    window.addEventListener("DOMContentLoaded", () => {
      setFooterYear();
    });
  </script>
</body>

</html>
